* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Anton", sans-serif;
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #31373d;
  position: fixed;
  left: -100%;
  width: 10%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar .nav-header {
  color: whitesmoke;
  background: #2e3339;
  width: 100%;
  height: 35%;
  margin-bottom: 20px;
}

.navbar-links span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a6a7a8;
  margin-top: -5px;
  font-size: 12px;
}

.navbar-links span h1 {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-links a {
  display: flex;
  justify-self: center;
  align-self: center;
  color: whitesmoke;
  font-size: 11px;
  font: bold;
  padding: 10px 10px 10px 0px;
  width: 90px;
}

.navbar-links a:hover {
  transition: 0.3s ease-in;
  color: #007ced;
}

.navbar img {
  margin: 10% 10% 0%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.icons li {
  margin-right: -60px;
  margin-left: 2px;
}

.iconify {
  font-size: 15px;
  margin-left: 10%;
}

.navbar-button {
  color: #007ced;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: #1e1e1e;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-top: 40px;
  transition: 0.3s ease-in;
  border-right: 10px solid #007ced;
  border-top: 10px solid #007ced;
}

.navbar-button:hover {
  color: #f0f8ff;
  z-index: 100;
}

h1 {
  color: whitesmoke;
  font-size: 25px;
}

#Contact {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 42%;
  padding-bottom: 80px;
  color: white;
  font-size: 20px;
}

.header1 {
  padding-top: 10px;
  margin-bottom: -10px;
}

.header1 span {
  color: #a6a7a8;
  font-size: 15px;
}

.image1 {
  width: 50vw;
  height: 30vh;
  margin-top: 10px;
  margin-bottom: -60px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10%;
  margin-top: -5%;
}

.contact-icons i {
  font-size: 20px;
  color: #007ced;
  margin-bottom: 10px;
}

label {
  display: none;
}

#form .contact-input {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vh;
  height: 70vh;
}

.contact-info input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.contact-message input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.contact-bar {
  width: 30vh;
  height: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-form {
  margin-top: -50px;
}

.contact-button {
  width: 10vw;
  height: 4vh;
  background-color: #007ced;
  border: #007ced;
  color: #f0f8ff;
  margin-top: 10px;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-right: 0px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-left: 25px;
  margin-right: 25px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin: 0px;
}

.form {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #007ced;
  color: #1e1e1e;
  display: flex;
  padding-left: 17%;
  height: 5vh;
  font-size: 13px;
  align-items: center;
  margin-top: -30px;
  font-weight: bolder;
}

.icons2 {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  list-style: none;
  align-items: center;
}

.icons2 a {
  color: white;
  margin-left: 80px;
  font-size: 13px;
}

.icons2 a:hover {
  transition: 0.3s ease-in;
  color: #2e3339;
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.border {
  border: 10px solid #2e3339;
}
