* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Anton", sans-serif;
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #31373d;
  position: fixed;
  left: -100%;
  width: 10%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar .nav-header {
  color: whitesmoke;
  background: #2e3339;
  width: 100%;
  height: 35%;
  margin-bottom: 20px;
}

.navbar-links span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a6a7a8;
  margin-top: -5px;
  font-size: 12px;
}

.navbar-links span h1 {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-links a {
  display: flex;
  justify-self: center;
  align-self: center;
  color: whitesmoke;
  font-size: 11px;
  font: bold;
  padding: 10px 10px 10px 0px;
  width: 90px;
}

.navbar-links a:hover {
  transition: 0.3s ease-in;
  color: #007ced;
}

.navbar img {
  margin: 10% 10% 0%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.icons li {
  margin-right: -60px;
  margin-left: 2px;
}

.iconify {
  font-size: 15px;
  margin-left: 10%;
}

.navbar-button {
  color: #007ced;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: #1e1e1e;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-top: 40px;
  transition: 0.3s ease-in;
  border-right: 10px solid #007ced;
  border-top: 10px solid #007ced;
}

.navbar-button:hover {
  color: #f0f8ff;
  z-index: 100;
}

h1 {
  color: whitesmoke;
  font-size: 25px;
}

.Line {
  width: 10px;
  height: 100%;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background: #a6a7a8;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-left: 60%;
}

.item-1 {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.item-2 {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item-3 {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -40%;
}

#Work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.work-container-heading {
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
  margin-right: 40%;
}

.work {
  width: 80%;
  margin: auto;
  max-width: 450px;
}

.work-container .education {
  height: 30vh;
  width: 35vw;
  background: #2e3339;
  border-radius: 10px;
  border-left: 5px solid #007ced;
  margin-left: -20%;
  margin-bottom: -20%;
}
.education img {
  height: 25vh;
  width: 10vw;
  margin-right: 10px;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
  margin-top: -20px;
}

.education span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 17px;
  padding-top: 5px;
}

.ex-container-heading {
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-bottom: 50%;
  margin-right: 40%;
}

.work {
  width: 80%;
  margin: auto;
  max-width: 450px;
}

.ex-container .experience {
  height: 25vh;
  width: 35vw;
  background: #2e3339;
  border-radius: 10px;
  border-left: 5px solid #007ced;
  margin-left: 2%;
  margin-top: -10%;
}
.experience img {
  height: 20vh;
  width: 10vw;
  margin-right: 10px;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
  margin-top: -40px;
}

.experience span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
  padding-top: 5px;
}

.ex-container .experience1 {
  height: 25vh;
  width: 35vw;
  background: #2e3339;
  border-radius: 10px;
  border-left: 5px solid #007ced;
  margin-left: 2%;
  margin-top: -20%;
}
.experience1 img {
  height: 20vh;
  width: 10vw;
  margin-right: 10px;
}

.experience1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
  margin-top: -30px;
}

.experience1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
  padding-top: 5px;
}

.date {
  color: #a6a7a8;
  font-size: 13px;
}

footer {
  background-color: #007ced;
  color: #1e1e1e;
  display: flex;
  padding-left: 17%;
  height: 5vh;
  font-size: 13px;
  align-items: center;
  margin-top: -30px;
  font-weight: bolder;
}

.icons2 {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  list-style: none;
  align-items: center;
}

.icons2 a {
  color: white;
  margin-left: 80px;
  font-size: 13px;
}

.icons2 a:hover {
  transition: 0.3s ease-in;
  color: #2e3339;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myDiv {
  display: none;
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #007ced;
  border-bottom: 5px solid #007ced;
  animation: loader 2s infinite ease;
  z-index: 1;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background: linear-gradient(0deg, #007ced, #fff);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
