* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Anton", sans-serif;
  /* max-width: 1200px;
  width: 100%; */
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #31373d;
  position: fixed;
  left: -100%;
  width: 10%;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar .nav-header {
  color: whitesmoke;
  background: #2e3339;
  width: 100%;
  height: 35%;
  margin-bottom: 20px;
}

.navbar-links span {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a6a7a8;
  margin-top: -5px;
  font-size: 12px;
}

.navbar-links span h1 {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-links a {
  display: flex;
  justify-self: center;
  align-self: center;
  color: whitesmoke;
  font-size: 9px;
  font: bold;
  padding: 10px 10px 10px 0px;
  width: 90px;
}

.navbar-links a:hover {
  transition: 0.3s ease-in;
  color: #007ced;
}

.navbar img {
  margin: 10% 10% 0%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 8px;
}

.iconify {
  font-size: 15px;
  position: fixed;
  margin-left: -10%;
}

.navbar-button {
  color: #007ced;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: #1e1e1e;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-top: 40px;
  transition: 0.3s ease-in;
}

.my-profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}
.my-profile header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-profile span {
  color: #a6a7a8;
  padding-bottom: 5%;
  font-size: 100%;
}

span h1 {
  margin-bottom: 10%;
}

h1 {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 0%;
}

h3 {
  text-align: center;
  color: #f0f8ff;
  padding: 10px;
  padding-top: 10%;
}

h4 {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 20px;
  font-size: 10px;
}

.my-profile img {
  margin-left: 5%;
  width: 350px;
  height: 450px;
  box-shadow: rgba(255, 255, 255, 255) 0px 0px 5px 0px;
}

.navbar-button:hover {
  color: #f0f8ff;
  z-index: 100;
}

#Landing {
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: space-evenly;
  margin-left: -5px;
  font-size: 13px;
}

.btn {
  display: flex;
  flex-direction: row;
  background-color: #007ced;
  border: 2px solid #007ced;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 20px;
  font-weight: bolder;
  margin: 5px;
}

.btn1 {
  display: flex;
  flex-direction: row;
  background-color: #2e3339;
  border: 2px solid #2e3339;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 20px;
  font-weight: bolder;
  margin: 5px;
}

.btn:hover {
  transition: 0.3s ease-in;
  color: #2e3339;
}

.btn1:hover {
  transition: 0.3s ease-in;
  color: #007ced;
}

.iconify:hover {
  transition: 0.3s ease-in;
  color: #007ced;
}

.about-1 {
  display: block;
  font-size: 100%;
  align-items: center;
  color: #a6a7a8;
  max-width: 600px;
  width: 100%;
  margin-top: -50px;
}

#About {
  background-color: #1e1e1e;
  height: 100vh;
  color: #a6a7a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#About img {
  margin-right: 5%;
  width: 350px;
  height: 450px;
  box-shadow: rgba(255, 255, 255, 255) 0px 0px 5px 0px;
}

#About {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
}

#About header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.about-2 {
  display: block;
  font-size: 100%;
  align-items: flex-start;
  color: #a6a7a8;
  max-width: 600px;
  width: 100%;
  margin-top: -15px;
}

#About span {
  color: #a6a7a8;
  font-size: 130%;
  margin-right: 47%;
}

#About2 {
  background-color: #1e1e1e;
  height: 100vh;
  color: #a6a7a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#About2 img {
  margin-left: 3%;
  width: 350px;
  height: 450px;
  box-shadow: rgba(255, 255, 255, 255) 0px 0px 5px 0px;
}

#About2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
}

.About3 header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-3 {
  display: block;
  font-size: 100%;
  align-items: flex-start;
  color: #a6a7a8;
  max-width: 600px;
  width: 100%;
  margin-top: -15px;
}

#Work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
}

.work-container-heading {
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  padding-right: 33%;
}

.work {
  width: 80%;
  margin: auto;
  max-width: 450px;
}

.work-container .education {
  height: 30vh;
  width: 50vw;
  background: #2e3339;
  border-radius: 10px;
  border-left: 5px solid #007ced;
}
.education img {
  height: 25vh;
  width: 10vw;
  margin-right: 50px;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 260px;
  margin-top: -10px;
}

.education span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
}

#Skills2 {
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-heading {
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  padding-top: 10%;
  padding-left: 15%;
}

#Skills2 span {
  font-size: 15px;
  color: #a6a7a8;
  margin-left: 15%;
  padding-bottom: 20px;
}

.skills-heading2 {
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  padding-top: 3%;
  padding-left: 15%;
}

.skills-soft {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.skills-hard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 70px;
  color: #a6a7a8;
  margin-top: -30px;
  padding-bottom: 10%;
  margin-left: -130px;
}

.skills-hard span {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.icon1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: -40px;
}

.icon2 {
  display: flex;
  flex-direction: column;
  margin-left: -15%;
  margin-top: 10px;
}

.icon3 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: -15%;
}

.icon4 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: -15%;
}

#Projects {
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
  padding-top: 10px;
}

.card-container-heading {
  font-size: 200%;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 14%;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-left: 14%;
  margin-top: -20px;
}

.card {
  margin: 2%;
  min-width: 200px;
  max-width: 10px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2e3339;
  border-radius: 10px;
  border-left: 5px solid #007ced;
  overflow: hidden;
  padding: 1%;
}

.card-details {
  color: #a6a7a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 13px;
}

.card-buttons {
  display: flex;
}

.button {
  font-size: 10px;
  border: 3px solid #31373d;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  margin: 10px;
}

.button:hover {
  background: #007ced;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-heading,
.card-subtitle,
.card-description,
.card-buttons {
  margin-bottom: 5px;
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .card {
    width: 100%;
  }
}

#Testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  height: 100vh;
  color: whitesmoke;
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 5%;
}

.testimonials-heading {
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-left: 4%;
}

#Testimonials h4 {
  color: #007ced;
  font-size: 15px;
}
.owl-carousel {
  padding-left: 8%;
}

.inner {
  background: #2e3339;
  border-radius: 20px;
  border-left: 5px solid #007ced;
  width: 30vw;
  height: 40vh;
  padding: 20px;
}

.info {
  margin-right: 20px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.image img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 20px;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.inner q {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}

#Contact {
  background-color: #1e1e1e;
  height: 150vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 42%;
  padding-bottom: 330px;
  color: white;
  font-size: 20px;
}

.header1 {
  padding-top: 10px;
  margin-bottom: -10px;
}

.header1 span {
  color: #a6a7a8;
  font-size: 15px;
}

.image1 {
  width: 50vw;
  height: 30vh;
  margin-top: 10px;
  margin-bottom: -60px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10%;
  margin-top: -5%;
}

.contact-icons i {
  font-size: 20px;
  color: #007ced;
  margin-bottom: 10px;
}

label {
  display: none;
}

#form .contact-input {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vh;
  height: 70vh;
}

.contact-info input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.contact-message input {
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.contact-bar {
  width: 30vh;
  height: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-form {
  margin-top: -50px;
}

.contact-button {
  width: 10vw;
  height: 4vh;
  background-color: #007ced;
  border: #007ced;
  color: #f0f8ff;
  margin-top: 10px;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-right: 0px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin-left: 25px;
  margin-right: 25px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #2e3339;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  height: 15vh;
  width: 15vw;
  margin: 0px;
}

.form {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #007ced;
  color: #1e1e1e;
  display: flex;
  padding-left: 17%;
  height: 10vh;
  font-size: 13px;
  align-items: center;
}

.icons2 {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  list-style: none;
  align-items: center;
}

.icons2 a {
  color: white;
  margin-left: 80px;
  font-size: 13px;
}

.icons2 a:hover {
  transition: 0.3s ease-in;
  color: #2e3339;
}
